*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#fff;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    position: relative;
    z-index: 0;
}
.app{
    background-image: linear-gradient(45deg,rgb(224, 173, 21), rgb(228, 98, 18), rgb(18, 228, 196), rgb(18, 175, 228));
    background-size: 400%;
    background-position: 0% 100%;
    padding-top: 80px;
    animation: gradient 15s linear infinite alternate;
}
@keyframes gradient {
    0%{
        background-position: 0% 100%;
    }
    33%{
        background-position: 33% 100%;
    }
    66.7%{
        background-position: 66% 100%;
    }
    100%{
        background-position: 100% 100%;
    }
}
