*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid{
    width: 100%;
    display: block;
    padding: 0;
    position: relative;
}
.grid.wide{
    max-width: 1200px;
    margin: 0 auto;
}

/* Mobile */
.row{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.row.no-gutters{
    margin-left: 0px;
    margin-right: 0px;
}
.col{
    padding-left: 4px;
    padding-right: 4px;
}
.row.no-gutters .col{
    padding-left: 0px;
    padding-right: 0px;
}
.c-0 {
    display: none;
}
.c-1 {
    width: 8.33333%;
}
.c-2 {
    width: 16.66667%;
}
.c-3 {
    width: 25%;
}
.c-4 {
    width: 33.33333%;
}
.c-5 {
    width: 41.66667%;
}
.c-6 {
    width: 50%;
}
.c-7 {
    width: 58.33333%;
}
.c-8 {
    width: 66.66667%;
}
.c-9 {
    width: 75%;
}
.c-10 {
    width: 83.33333%;
}
.c-11 {
    width: 91.66667%;
}
.c-12 {
    width: 100%;
}
.c-o-1{
    margin-left:8.33333%
}
.c-o-2{
    margin-left: 16.66667%;
}
.c-o-3{
    margin-left: 25%;
}
.c-o-4{
    margin-left: 33.33333%;
}
.c-o-5{
    margin-left: 41.66667%;
}
.c-o-6{
    margin-left: 50%;
}
.c-o-7{
    margin-left: 58.33333%;
}
.c-o-8{
    margin-left:66.66667% ;
}
.c-o-9{
    margin-left: 75%;
}
.c-o-10{
    margin-left: 83.33333%;
}
.c-o-11{
    margin-left: 91.66667%;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide{
        width: 644px;
    }
    .row{
        min-width: 100%;
        margin-left: -8px;
        margin-right: -8px;
    }
    .col{
        padding-left: 8px;
        padding-right: 8px;
    }
    .m-0 {
        display: none;
    }
    .m-1 {
        width: 8.33333%;
    }
    .m-2 {
        width: 16.66667%;
    }
    .m-3 {
        width: 25%;
    }
    .m-4 {
        width: 33.33333%;
    }
    .m-5 {
        width: 41.66667%;
    }
    .m-6 {
        width: 50%;
    }
    .m-7 {
        width: 58.33333%;
    }
    .m-8 {
        width: 66.66667%;
    }
    .m-9 {
        width: 75%;
    }
    .m-10 {
        width: 83.33333%;
    }
    .m-11 {
        width: 91.66667%;
    }
    .m-12 {
        width: 100%;
    }
    .m-o-1{
        margin-left:8.33333%
    }
    .m-o-2{
        margin-left: 16.66667%;
    }
    .m-o-3{
        margin-left: 25%;
    }
    .m-o-4{
        margin-left: 33.33333%;
    }
    .m-o-5{
        margin-left: 41.66667%;
    }
    .m-o-6{
        margin-left: 50%;
    }
    .m-o-7{
        margin-left: 58.33333%;
    }
    .m-o-8{
        margin-left:66.66667% ;
    }
    .m-o-9{
        margin-left: 75%;
    }
    .m-o-10{
        margin-left: 83.33333%;
    }
    .m-o-11{
        margin-left: 91.66667%;
    }
}
/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide{
        width: 984px;
    }
    .row{
        min-width: 100%;
        margin-left: -8px;
        margin-right: -8px;
    }
    .col{
        padding-left: 8px;
        padding-right: 8px;
    }
    .l-0 {
        display: none;
    }
    .l-1 {
        width: 8.33333%;
    }
    .l-2 {
        width: 16.66667%;
    }
    .l-3 {
        width: 25%;
    }
    .l-4 {
        width: 33.33333%;
    }
    .l-5 {
        width: 41.66667%;
    }
    .l-6 {
        width: 50%;
    }
    .l-7 {
        width: 58.33333%;
    }
    .l-8 {
        width: 66.66667%;
    }
    .l-9 {
        width: 75%;
    }
    .l-10 {
        width: 83.33333%;
    }
    .l-11 {
        width: 91.66667%;
    }
    .l-12 {
        width: 100%;
    }
    .l-o-1{
        margin-left:8.33333%
    }
    .l-o-2{
        margin-left: 16.66667%;
    }
    .l-o-3{
        margin-left: 25%;
    }
    .l-o-4{
        margin-left: 33.33333%;
    }
    .l-o-5{
        margin-left: 41.66667%;
    }
    .l-o-6{
        margin-left: 50%;
    }
    .l-o-7{
        margin-left: 58.33333%;
    }
    .l-o-8{
        margin-left:66.66667% ;
    }
    .l-o-9{
        margin-left: 75%;
    }
    .l-o-10{
        margin-left: 83.33333%;
    }
    .l-o-11{
        margin-left: 91.66667%;
    }
}
/* PC high resolution */
@media (min-width: 1240px){
    .row{
        min-width: 100%;
        margin-left: -12px;
        margin-right: -12px;
    }
    .col{
        padding-left: 12px;
        padding-right: 12px;
    }
    .l-0 {
        display: none;
    }
    .l-1 {
        width: 8.33333%;
    }
    .l-2 {
        width: 16.66667%;
    }
    .l-3 {
        width: 25%;
    }
    .l-4 {
        width: 33.33333%;
    }
    .l-5 {
        width: 41.66667%;
    }
    .l-6 {
        width: 50%;
    }
    .l-7 {
        width: 58.33333%;
    }
    .l-8 {
        width: 66.66667%;
    }
    .l-9 {
        width: 75%;
    }
    .l-10 {
        width: 83.33333%;
    }
    .l-11 {
        width: 91.66667%;
    }
    .l-12 {
        width: 100%;
    }
    .l-o-1{
        margin-left:8.33333%
    }
    .l-o-2{
        margin-left: 16.66667%;
    }
    .l-o-3{
        margin-left: 25%;
    }
    .l-o-4{
        margin-left: 33.33333%;
    }
    .l-o-5{
        margin-left: 41.66667%;
    }
    .l-o-6{
        margin-left: 50%;
    }
    .l-o-7{
        margin-left: 58.33333%;
    }
    .l-o-8{
        margin-left:66.66667% ;
    }
    .l-o-9{
        margin-left: 75%;
    }
    .l-o-10{
        margin-left: 83.33333%;
    }
    .l-o-11{
        margin-left: 91.66667%;
    }
}